<section class="about_section">
    <div class="about-head">
     <div class="about-item">
        <img src="../../../assets/profile.jpg" alt="" srcset="">
        <p><strong>Mr.Ezz El-Din Jradi:</strong>The MEJ Founder 35 years experience</p>
     </div>
     <div class="about-item">
        <img src="../../../assets/logo_1.png" alt="" srcset="">
        <p></p>
     </div>
     <div class="about-item">
        <img src="../../../assets/profile.jpg" alt="" srcset="">
        <p><strong>Mr Mohammed Jradi:</strong>The MEJ general manager 15 years of experience</p>
     </div>
    </div>
    <div class="about-container">
       <div class="about-description">
        <h2>About MEJ </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quisquam omnis veritatis impedit voluptatibus a in, suscipit nostrum, facilis numquam repellendus earum. Ad perspiciatis voluptatum laudantium, quod accusantium doloribus molestiae.</p>
       </div>
       <div class="about-images">
        <img src="../../../assets/1.jpg" class="about-image" alt="" srcset="">
         <img src="../../../assets/5.jpg" class="about-image" alt="" srcset="">
          <img src="../../../assets/2.jpg" class="about-image" alt="" srcset="">
           <img src="../../../assets/4.jpg" class="about-image" alt="" srcset="">
       </div>
    </div>

    
</section>
