
.home{
    display: flex;
    flex-direction: column;
   
    width: 100vw;
}
.principal{
    margin-top: 200px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.discription{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    
    align-content: center;
    
    
    font-size: 30px;
    color: rgb(24, 24, 24);
    margin-top: 20px;
}
.discription h3{
    text-align: center;
    margin-bottom: 60px;
   margin-top: 5%;
    
}
#dis-m{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 5%;
    
    cursor: pointer;
}
.dis-i{
    margin-bottom: 20px;
    margin-left: 40px;
    border-left: 10px solid rgb(143, 236, 240);
    width: 250px;
    
}
.dis-i:hover{
   transform: translateY(-15%);
}
.dis-i h6{
    margin-left: 2%;
}
.logo{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
}
.logo img{
    height: 100%;
    width: 100%;
    transform: translateX(10%);

    
}
.title{
    height: 127%;
    width: 30%;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right:1px solid rgb(250, 248, 248) ;
    transform: rotate(-15deg) translateX(10%) translateY(-10%);
}
.logo-text{
    height: 100%;
    width: 100%;
   
    z-index: 2;
    background-color: rgba(red, green, blue, 0);
    transform: translateX(-20%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
    color: gray;

}
.logo-text h1{
    font-size: 50px;
    color: rgb(32, 32, 32);
}
.logo-text h4{
    margin-left: 20px;
}
.marketing{
   
    height:70vh;
    width: 100%;
   

}
.hot{
    margin-top: 150px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 245, 252);
    
}
.hot-i{
 height: 90%;
 width: 100%;
 display: flex;
 align-items: center;
justify-content: center;
margin: 5%;

overflow: hidden;
}
.hot-i img{
    height: 80%;
    width: 80%;
   
   
    
}
.rotated{
    border: 1px solid rgb(247, 56, 56);
    height: 3%;
    width: 4rem;
    position: relative;
    background-color:rgb(247, 56, 56) ;
   
    bottom: 25%;
    left: 20%;
}
.rotated h5{
    text-align: center;
    color: white;
}

@media (max-width:500px) {
    .logo{
        height: 100vh;
        width: 100vw;
        flex-direction: column;
       
    }
    .logo img{
        width: 100%;
    }
    .logo-text{
      margin-left: 30%;
      margin-top: 5%;
    }
    .logo-text h1{
        font-size: 15px;
    }
    .logo-text h4{
        font-size: 10px;
    }
    #dis-m{
        margin-left: 0;
        
    }
    .hot{
        margin-top: 100px;
        height: 45vh;
       justify-content: center;
       width: 150%;
    }
    .rotated{
        height: 7%;
    }
    .hot-i{
        height: 60%;
    }
}