<section class="home">
    <div class="principal">
        
        <div class="logo">
            <img src="../../../assets/logo.jpg" alt="Logo">
        </div>
        <div class="discription">
            <h3>MEJ electric Commitment & Maintenance</h3>
            <ul id="dis-m">
                <li class="dis-i">
                    <h6>35 year experience</h6>
                </li>
                <li class="dis-i">
                    <h6>Heigh performance</h6>
                </li>
                <li class="dis-i">
                    <h6>Smart solution</h6>
                </li>
                <li class="dis-i">
                    <h6>Best prices</h6>
                </li>
            </ul>
        </div>
       
    
    </div>
    <div class="hot">
        <div class="hot-i">
            <div class="rotated"><h5>HOT</h5></div>
            <img src="../../../assets/demolation.jpg" alt="">
        </div>
        <div class="hot-i">
            <div class="rotated"><h5>HOT</h5></div>
            <img src="../../../assets/aquasystems-lacky-pro-2mcp-25-32.jpg" alt="">
        </div>
        <div class="hot-i">
            <div class="rotated"><h5>HOT</h5></div>
            <img src="../../../assets/makita-tools-xdlx2180mx.jpg.pagespeed.ic_.pPH6vHzqKw-1180x1180-1.jpg" alt="">
        </div>
    </div>
    <div class="marketing">
        <app-carousel></app-carousel>
    
    </div>


</section>
