<section class="services_sec">
    <div class="head">
        <img src="../../../assets/installations.jpg" alt="" class="installations">
        <div class="installations_description">
           
            <img src="../../../assets/logo_1.png" alt="">
            <div class="dis-head">
            <h3>
                your confidence is the cornerstone of our success.
            </h3>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="services_item"><div class="s_i_d">
            <h3>Industrial tools maintenance</h3>
            <strong>We have established ourselves as a leading name in industrial maintenance, proving our strength and reliability in the market. Our expertise runs deep, covering everything from pumps and drills to generators and elevators.</strong>
        </div><img src="../../../assets/Industrial.jpg" alt=""></div>
        <div class="services_item">
            <div class="s_i_d">
                <h3>Control systems and PLC</h3>
                <strong>With a professional team holding certification in addition to extensive experience, we have achieved significant accomplishments in software, control systems, and logical circuit.</strong>
            </div>
            <img src="../../../assets/Power_sytems.jpg" alt=""></div>
        <div class="services_item">
            <div class="s_i_d">
                <h3>Goods</h3>
                <strong>High-quality goods at carefully studied prices, exclusively for our customers and clients abroad.
                    We export and import all types of machines
                </strong>
            </div>
            <img src="../../../assets/Vendor.jpg" alt=""></div>
    </div>
   <div class="range">
    <img src="../../../assets/Lebanon.png" alt="" class="range_item range_image ">
    <strong class="range_item range_discription">In your service along the Lebanese 10,452 square kilometres</strong>
   </div>
    </section>
