<section class="footer">
    <ul id="footer-list">
        <li class="f-i">
          <img src="../../../assets/phone.svg" alt="" srcset="">
            <h5>: +96171245236</h5>
        </li>
        <li class="f-i">
            <img src="../../../assets/location.svg" alt="" srcset="">
            <h5>Location: Saida-Set Nefisa Road  </h5>
        </li>
        <li class="f-i">
            <img src="../../../assets/manager.svg" alt="" srcset="">
            <h5>General Manager: Mr.Mohammad Jradi</h5>
        </li>
    </ul>
    <li class="nav-item L"><h1>MEJ</h1></li>
</section>
